<div class="container-fluid">
    <div class="row">
      <div class="col-sm-2">
          {{insights-nav}}
      </div>
      <div class="col-sm-10">
        <h3>Insights - Decision</h3>
      </div>
    </div>

  </div>
