<div class="container">
  <div class="jumbotron">
  <h2>Phoenix 1.0</h2>
  <p>A Personnel Management Application for small groups.</p>
  <p><a class="btn btn-default btn-lg" href="#" role="button">{{#link-to 'personnel'}}View Personnel{{/link-to}}</a></p>
  </div>

<div class="col-sm-4 col-md-4">
<div class="thumbnail">
  <center><span class="glyphicon glyphicon-envelope" style="font-size:3em;"></span></center>
  <div class="caption">
    <center><h3>Store</h3>
    <p>Add new personnel and manage existing records.</p>
    <p><a href="#" class="btn btn-default" role="button">{{#link-to 'add'}}Add Personnel{{/link-to}}</a> </p>
    </center>
  </div>
</div>
</div>

<div class="col-sm-4 col-md-4">
<div class="thumbnail">
  <center><span class="glyphicon glyphicon-wrench" style="font-size:3em;"></span></center>
  <div class="caption">
    <center><h3>Understand</h3>
    <p>Get insights into your personnel population.</p>
    <p><a href="#" class="btn btn-default" role="button">{{#link-to 'insights'}}Summary{{/link-to}}</a> </p>
    </center>
  </div>
</div>
</div>

<div class="col-sm-4 col-md-4">
  <div class="thumbnail">
  <center><span class="glyphicon glyphicon-user" style="font-size:3em;"></span></center>
    <div class="caption">
    <center><h3>Decide</h3>
    <p>Make quick and detailed comparisons between personnel.</p>
    <p><a href="#" class="btn btn-default" role="button">{{#link-to 'decision'}}Make Comparisons{{/link-to}}</a> </p>
    </center>
  </div>

</div>
</div>

</div>
