
<div class="btn-group-vertical" role="group">
  <button type="button" class="btn btn-default">{{#link-to 'insights'}}Summary{{/link-to}}</button>
  <button type="button" class="btn btn-default">{{#link-to 'decision'}}Decision{{/link-to}}</button>
</div>
