<div class="btn-group-vertical" role="group">
  <button type="button" class="btn btn-default">{{#link-to 'personnel'}}View/Edit{{/link-to}}</button>
  <button type="button" class="btn btn-default">{{#link-to 'add'}}Add New{{/link-to}}</button>
</div>
